<!-- home.html.twig -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AutoXpress Home Page</title>
        <link rel="stylesheet" href="{{ asset('css/home.css') }}">
       
 
    <script type="text/javascript" src="{{ asset('javascript/myscript.js') }}"></script>

    </head>
    <body>
        <header>
            <nav>
                <ul>
                   <li> <img class="logo" src="{{ asset('img/logo.png') }}" alt="Logo"></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><i class="fa-regular fa-globe"></i></li>
                     <li class="sign-in"><a href="{{ path('app_commentaire') }}">Sign In</a></li>
                    <li class="sign-up"><a href="#">Sign Up</a></li>
                   
                </ul>
            </nav>
        </header>
        <div id="hero-section">
            <h1>Get a ride in minutes</h1>
            <form>
                <input class="inputtxt" type="text" placeholder="Enter pickup location">
                <input  class="inputtxt"type="text" placeholder="Enter dropoff location">
                <button>Get a ride</button>
            </form>
        </div>
<div class="container">
  <img src="{{ asset('img/carpool.jpg') }}" alt="Image" class="image">
  <div class="content">
    <p>Vous cherchez un moyen rapide et fiable de vous déplacer en ville ?
     Ne cherchez pas plus loin que AutoXpress ! 
     Notre service de transport de qualité supérieure offre des trajets rapides et faciles à des prix abordables,
      ce qui en fait le choix idéal pour tous vos besoins de transport. Que vous fassiez des courses, 
      alliez à une réunion ou ayez simplement besoin d'un trajet à travers la ville, AutoXpress est là pour vous. 
      Alors, pourquoi attendre ? Inscrivez-vous dès aujourd'hui et commencez à profiter de la commodité d'AutoXpress !
</p>
  </div>
</div>
<div id="img-section">
  <div class="containercontact">
      <h1 class="labelh">Contact Us</h1>
      <form class="contactform">
      <label class="labeltext"for="name">Phone number: +216 52 259 276</label>
        <label class="labeltext" for="name">Name:</label>
        <input class="inputtext" type="text" id="name" name="name" required>

        <label  class="labeltext"for="email">Email:</label>
        <input class="inputtext" type="email" id="email" name="email" required>

        <label  class="labeltext" for="message">Message:</label>
        <textarea class="inputtext" id="message" name="message" required></textarea>

        <input class="submitbtn"type="submit" value="Submit">
      </form>

</div>
    </div>
 
        
        <div id="services-section">
            <h2>Our Services</h2>
            <ul>
                <li>
                    <img src="{{ asset('img/deliver.png') }}" alt="UberX">
                    <h3>XpressDeliver</h3>
                    <p>The most affordable ride on Uber</p>
                </li>
                <li>
                    <img src="{{ asset('img/ride.png') }}" alt="UberSUV">
                    <h3>XpressRide</h3>
                    <p>The ride for larger groups</p>
                </li>
                <li>
                    <img src="{{ asset('img/drive.png') }}" alt="UberBLACK">
                    <h3>XpressDrive</h3>
                    <p>The original luxury ride on AutoXpress</p>
                </li>
            </ul>
        </div>
        <footer>
            <p>&copy; 2023 AutoXpress Innovators Inc.</p>
        </footer>
    </body>
</html>
