{% extends 'backbase.html.twig' %}

{% block title %}Vehicule index
{% endblock %}
{% block header %}

	<!-- Sidebar Start -->
	<div class="sidebar pe-4 pb-3">
		<nav class="navbar bg-secondary navbar-dark">
			<a href="dashboard" class="navbar-brand mx-4 mb-3">
				<img class="logo" src="{{ asset('img/logo.png') }}" alt="Logo" style="width: 150px;margin-top: -50px;
																				margin-bottom   : -67px; ">
			</a>
			<div class="d-flex align-items-center ms-4 mb-4">
				<div class="position-relative">
					<img class="rounded-circle" src="img/profile.png" alt="" style="width: 40px; height: 40px;">
					<div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
				</div>
				<div class="ms-3">
					<h6 class="mb-0">Balkis Hmidi</h6>
					<span>Admin</span>
				</div>
			</div>
			<div class="navbar-nav w-100">
				<a href="dashboard" class="nav-item nav-link">
					<i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
				<div class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
						<i class="fa fa-user-edit me-2"></i>Utilisateurs</a>
					<div class="dropdown-menu bg-transparent border-0">
						<a href="#" class="dropdown-item">Clients</a>
						<a href="#" class="dropdown-item">Conducteur</a>
					</div>
				</div>
				<a href="{{ path('app_offre_index') }}" class="nav-item nav-link">
					<i class="fa fa-th me-2 active"></i>Offres</a>
				<a href="{{ path('app_reservation_index') }}" class="nav-item nav-link">
					<i class="fa fa-keyboard me-2"></i>Reservations</a>
				<a href="{{ path('app_commentaire') }}" class="nav-item nav-link  ">
					<i class="fa fa-table me-2"></i>Commentaire</a>
				<a href="{{ path('app_avis') }}" class="nav-item nav-link ">
					<i class="fa fa-star me-2"></i>Avis</a>
				<a href="#" class="nav-item nav-link">
					<i class="far fa-file-alt me-2"></i>Contrats</a>
				<a href="/aff" class="nav-item nav-link ">
					<i class="fa fa-keyboard me-2"></i>Réclamations</a>
				<a href="/message/aff" class="nav-item nav-link ">
					<i class="fa fa-table me-2"></i>Messages</a>

				<a href="{{ path('app_vehicule_contoller_index') }}" class="nav-item nav-link ">
					<i class="fa fa-table me-2"></i>Vehicules</a>

				<a href="{{ path('app_fournisseur_index') }}" class="nav-item nav-link ">
					<i class="fa fa-table me-2"></i>Fournisseur</a>
			</div>

		</nav>
	</div>
	<!-- Sidebar End -->


{% endblock %}

{% block body %}
	<h1>Vehicule index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Immatriculation</th>
				<th>TypeDuVehicule</th>
				<th>Marque</th>
				<th>Etat</th>
				<th>Kilometrage</th>
				<th>Imagev</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for vehicule in vehicules %}
				<tr>
					<td>{{ vehicule.id }}</td>
					<td>{{ vehicule.typeDyVehicule }}</td>
					<td>{{ vehicule.marque }}</td>
					<td>{{ vehicule.etat }}</td>
					<td>{{ vehicule.kilometrage }}</td>
					<td>{{ vehicule.imagev }}</td>
					<td>
						{% if vehicule.id is not empty %}
							<a href="{{ path('app_vehicule_contoller_show', {'id': vehicule.id}) }}" class="btn btn-primary">Show</a>
						{% else %}
							<span class="btn btn-primary disabled">Show</span>
						{% endif %}

						{% if vehicule.id is not empty %}
							<a href="{{ path('app_vehicule_contoller_edit', {'id': vehicule.id}) }}" class="btn btn-primary">Edit</a>
						{% else %}
							<span class="btn btn-primary disabled">Edit</span>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% if conducteur_id %}
		<a href="{{ path('app_vehicule_contoller_new', {'id_conducteur': conducteur_id}) }}">Create new</a>
		<a href="{{ path('app_vehicule_contoller_stats') }}">Vehicle Statistics</a>

	{% else %}
		<p>Please select a conducteur before creating a new vehicle.</p>
	{% endif %}
{% endblock %}
