<!DOCTYPE html>

<title>Message index</title>

{% block body %}
    <h1>Message index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdMessage</th>
                <th>Contenu</th>
                <th>DateMessage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.idMessage }}</td>
                <td>{{ message.contenu }}</td>
                <td>{{ message.dateMessage ? message.dateMessage|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_message_show', {'idMessage': message.idMessage}) }}">show</a>
                    <a href="{{ path('app_message_edit', {'idMessage': message.idMessage}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_message_new') }}">Create new</a>
{% endblock %}
