{% extends 'baseback.html.twig' %}
{% block title %}Reclamation{% endblock %}
{% block body %}
<style>
        h1 {
            color: black;
            font-size: 24px;
        }
    </style>
<div class="container" style="background-color: white; height: 900px;">
    <h1>Messages envoyés</h1>

    <table class="table table-bordered table-striped table-hover" style="width: 80%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>Date_message</th>             
                <th>Admin</th>
                <th>Id de Reclamation</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.contenu }}</td>
                <td>{{ message.dateMessage ? message.dateMessage|date('Y-m-d H:i:s') : '' }}</td>
                
                <td>{{ message.getAdminName() }}</td>
                <td>{{ message.getRec() }}</td>
                <td>
                    <a href="{{ path('app_message_show', {'id': message.id}) }}">show</a>
                    <a href="{{ path('app_message_edit', {'id': message.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_rec_index') }}">voir les réclamations</a>
    </div>
{% endblock %}
