{% extends 'baseback.html.twig' %}
{% block title %}Reclamation{% endblock %}

{% block body %}
<div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Les réclamations</h6>
                        <a href="">Show All</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    
                                    <th scope="col">Id</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Client</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for reclamation in reclamations %}
                 <tr>
    <td>{{ reclamation.id }}</td>
    <td>{{ reclamation.type }}</td>
    <td>{{ reclamation.dateR ? reclamation.dateR|date('Y-m-d') : '' }}</td>
    <td>{{ reclamation.description }}</td>
    <td>{{ reclamation.getClientName() }}</td>
    <td>
         <div style="display: flex; flex-direction: column;">
                                        <a href="{{ path('app_rec_show', {'id': reclamation.id}) }}" style="background-color: #ffffff; color: #000000; padding: 10px 20px; border: 2px solid #000000; text-decoration: none; margin-bottom: 10px; border-radius: 5px;">Afficher</a>
                                        <a href="{{ path('app_message_new', {'id': reclamation.id}) }}" style="background-color: #ffffff; color: #000000; padding: 10px 20px; border: 2px solid #000000; text-decoration: none; border-radius: 5px;">Répondre</a>
                                    </div>
    </td>
</tr>
                                {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <li>
                    <a href="#">Trie</a>
                    <ul>
                        <li><a href="{{ path('order_By_Type')}}">Trie par Type</a></li>
                        <li><a href="{{ path('order_By_Date')}}">Trie par Date</a></li>              
                    </ul>
                </li>
                    </div>
                </div>
            </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("table tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}

