{% extends 'baseback.html.twig' %}
{% block title %}Reclamation{% endblock %}

{% block body %}
<div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Les réclamations</h6>
                     <a href="{{ path('app_rec_reponse')}}" style="background-color: red; color: white; border-radius: 5px; padding: 10px;">Voir les réclamations à traiter</a>
                        <a href="">Rafraichir</a>
                    </div>
                    <div class="table-responsive">
                    <h1><span style="font-size: 24px; color: white; background-color: black; padding: 5px; border-radius: 5px;">Reclamations recus: ({{ reclamations.getTotalItemCount }})</span></h1>
                        <table class="table text-start align-middle table-bordered table-hover mb-0" style="width: 90%; border-color: white;">
                            <thead>
                                <tr class="text-white">
                                    
                                    <th scope="col"style="color: #FF7F50;">Id</th>
                                    <th scope="col"style="color: #FF7F50;">Type</th>
                                    <th scope="col"style="color: #FF7F50;">Date</th>
                                    <th scope="col"style="color: #FF7F50;">Description</th>
                                    <th scope="col"style="color: #FF7F50;">Client</th>
                                    <th scope="col"style="color: #FF7F50;">Action</th>
                                    <th scope="col"style="color: #FF7F50;">État</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for reclamation in reclamations %}
                 <tr>
    <td style="color: white">{{ reclamation.id }}</td>
    <td style="color: white">{{ reclamation.type }}</td>
    <td style="color: white">{{ reclamation.dateR ? reclamation.dateR|date('Y-m-d') : '' }}</td>
    <td style="color: white">{{ reclamation.description }}</td>
    <td style="color: white">{{ reclamation.getClientName() }}</td>
    <td>
         <div style="display: flex; flex-direction: column;">
                                        <a href="{{ path('app_rec_show', {'id': reclamation.id}) }}" style="background-color: #FF7F50; color: white; padding: 10px 20px; border: 2px solid #000000; text-decoration: none; margin-bottom: 10px; border-radius: 5px;">Afficher</a>
                                        <a href="{{ path('app_message_new', {'id': reclamation.id}) }}" style="background-color: #FF7F50; color: white; padding: 10px 20px; border: 2px solid #000000; text-decoration: none; border-radius: 5px;">Répondre</a>
                                    </div>
    </td>
   <td>
    {% if reclamation.messages|length > 0 %}
        <span style="color: #90EE90;">Déjà répondu</span>
    {% else %}
        <span style="color: #FF7F7F;">Pas encore de réponse</span>
    {% endif %}
</td>

</tr>
                                {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {{ knp_pagination_render(reclamations) }}
                    </div>
                </div>
            </div>
            
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("table tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}







