{% extends 'baseback.html.twig' %}

{% block title %}Reclamation{% endblock %}


{% block body %}
<style>
        h1 {
            color: black;
            font-size: 24px;
        }
    </style>
<div class="container" style="background-color: white; height: 800px;">

    <h1>Détail de réclamation reçu</h1>

<table class="table table-bordered table-striped table-hover" style="width: 80%;">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reclamation.id }}</td>
            </tr>
            <tr>
                <th>Type de reclamation</th>
                <td>{{ reclamation.type }}</td>
            </tr>
            <tr>
                <th>Date de reclamation</th>
                <td>{{ reclamation.dateR ? reclamation.dateR|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reclamation.description }}</td>
            </tr>
            <tr>
                <th>Envoyé par le client</th>
                <td>{{ reclamation.getClientName() }}</td>
            </tr>
        </tbody>
    </table>


<a href="{{ path('app_rec_index') }}" class="btn btn-danger btn-primary" style="margin-right: 10px;">Retour a la liste</a>

    {{ include('rec/_delete_form.html.twig') }}
    </div>
{% endblock %}
