{% extends 'baseFront.html.twig' %}

{% block title %}La liste des offres {% endblock %}
 

 
{% block body %}

    <h1>La liste des offres </h1>

  
                

   <div class="container my-md-4">
<div class="d-flex justify-content-between">
 
<form action="{{path('typeVehiculeClient', {'typeVehicule': 'voiture'})}}">
<input
   type="search"
   name="q"
   class="form-control"
   placeholder="Offres avec voiture"
   aria-label="Search"
   >
   </form>
   <form action="{{path('typeVehiculeClient', {'typeVehicule': 'bus'})}}">
<input
   type="search"
   name="q"
   class="form-control"
   placeholder="Offres avec Bus"
   aria-label="Search"
   >
   </form>
   <form action="{{path('typeVehiculeClient', {'typeVehicule': 'van'})}}">
<input
   type="search"
   name="q"
   class="form-control"
   placeholder="Offres avec van"
   aria-label="Search"
   >
   </form>
   </div>

    <table class="table">
        <thead>
            <tr>
                <th>IdOffre</th>
                <th>IdConducteur</th>
                <th>Destination</th>
                 
                <th>PtDepart</th>
                <th>Prix</th>
                <th>TypeVehicule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.idOffre }}</td>
                <td>{{ offre.idConducteur }}</td>
                <td>{{ offre.destination }}</td>
                <td>{{ offre.ptDepart }}</td>
                <td>{{ offre.prix }}</td>
                <td>{{ offre.typeVehicule }}</td>
                <td>
                    <a href="{{ path('app_offre_show_client', {'idOffre': offre.idOffre}) }}">show</a>
                     <a href="{{ path('app_reservation_new_reserver', {'idOffre': offre.idOffre}) }}">Réserver</a>

                </td>
                 <td>
    {% if offre.destination|length > 0 %}
        <span style="color: #90EE90;">Disponible</span>
    {% else %}
        <span style="color: #FF7F7F;">Offre non disponible </span>
    {% endif %}
</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  
<a href="{{ path('app_offre_index_Client') }}">back to list</a>
    
<script>
 


// Effacer les anciennes lignes de tableau
table.innerHTML = "";

// Ajouter les lignes filtrées au tableau
data.forEach((row) => {
  const tr = document.createElement("tr");

  const idOffre_td = document.createElement("td");
  const idOffre_p = document.createElement("p");
  idOffre_p.classList.add("mb-0", "text-muted");
  const idOffre_strong = document.createElement("strong");
  idOffre_strong.innerHTML = row.idOffre;
  idOffre_p.appendChild(idOffre_strong);
  idOffre_td.appendChild(idOffre_p);
  tr.appendChild(idOffre_td);

  const idConducteur_td = document.createElement("td");
  const idConducteur_p = document.createElement("p");
  idConducteur_p.classList.add("mb-0", "text-muted");
  idConducteur_p.innerHTML = row.idConducteur;
  idConducteur_td.appendChild(idConducteur_p);
  tr.appendChild(idConducteur_td);

  const destination_td = document.createElement("td");
  destination_td.classList.add("text-muted");
  destination_td.innerHTML = row.destination;
  tr.appendChild(destination_td);

  const ptDepart_td = document.createElement("td");
  const ptDepart_small = document.createElement("p");
  ptDepart_small.classList.add("text-muted");
  ptDepart_small.innerHTML = row.ptDepart;
  ptDepart_td.appendChild(ptDepart_small);
  tr.appendChild(ptDepart_td);

  const prix_td = document.createElement("td");
  const prix_small = document.createElement("p");
  prix_small.classList.add("text-muted");
  prix_small.innerHTML = row.prix;
  prix_td.appendChild(prix_small);
  tr.appendChild(prix_td);

  const typeVehicule_td = document.createElement("td");
  const typeVehicule_small = document.createElement("p");
  typeVehicule_small.classList.add("text-muted");
  typeVehicule_small.innerHTML = row.typeVehicule;
  typeVehicule_td.appendChild(typeVehicule_small);
  tr.appendChild(typeVehicule_td);

  table.appendChild(tr);
});
 </script>
 
    
{% endblock %}
