{% extends 'frontbase.html.twig' %}

{% block title %}Offre{% endblock %}

{% block body %}
    <h1>Offre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offre.id }}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{{ offre.Destination }}</td>
            </tr>
            <tr>
                <th>Pt_depart</th>
                <td>{{ offre.ptDepart }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ offre.prix }}</td>
            </tr>
            <tr>
                <th>Type_vehicule</th>
                <td>{{ offre.typeVehicule }}</td>
            </tr>
        </tbody>
    </table>
<a href="{{ path('app_offre_index_Client') }}" target="_blank" class="btn btn-primary">back to list</a>

    {# <a href="{{ path('app_reservation_new_front', {'idOffre': offre.id}) }}">Réserver</a>  #}
{% endblock %}
